@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div id="catsList"></div>
</div>

@section Scripts{
    <script>
        $(function () {
            FaceMash.LoadAll();
        })
    </script>

}